<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd"
>

	<context:annotation-config />

	<bean id="CentralDbConnector" class="com.cyanspring.server.persistence.CentralDbConnector">
		<property name="cpds"><ref bean="cpds"/></property>
	</bean>
	
	<bean id="cpds" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://125.227.191.247:3306/LTS_LIVE?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="user" value="tqt001"/>
		<property name="password" value="tqt001"/>

		<property name="maxPoolSize" value="10" />
		<property name="initialPoolSize" value="3" />
		<property name="minPoolSize" value="1" />
		<property name="acquireRetryAttempts" value="30" />
		<property name="numHelperThreads" value="3" />
        <property name="testConnectionOnCheckin" value="false"/>
        <property name="testConnectionOnCheckout" value="true"/>
        <property name="preferredTestQuery" value="SELECT 1"/>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	 <!-- Embedded mode -->
	  <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver"/>
	  <property name="url" value="jdbc:derby:database;create=true"/>
	 <!-- Client mode -->
	 <!--
	  <property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"/>
	  <property name="url" value="jdbc:derby://localhost:1527/database;create=false"/>
	  -->
	  <property name="username" value="user"/>
	  <property name="password" value="pass"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	  <property name="dataSource" ref="dataSource"/>
	  <property name="mappingResources">
	    <list>
	      <value>conf/object.hbm.xml</value>
	    </list>
	  </property>
	  <property name="hibernateProperties">
      	<props>
         <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
         <prop key="hibernate.show_sql">false</prop>
         <prop key="hibernate.format_sql">false</prop>
         <prop key="hibernate.connection.autocommit">false</prop>
       	</props>
       </property>
	</bean>

	<bean id="setDerbyLog" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">   
		<property name="targetClass">
			<value>java.lang.System</value>
		</property>
		<property name="targetMethod">
			<value>setProperty</value>
		</property>
		<property name="arguments">
		     <list>       
		     	<value>derby.stream.error.file</value>       
		     	<value>log/derby.log</value>     
		     </list>   
		</property> 
	</bean> 
</beans>
