<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/Leaves16.png">
         <run
               class="com.cyanspring.cstw.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.cyanspring.cstw.gui.Perspective"
            icon="icons/Leaves16.png"
            id="CSTW.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.cyanspring.cstw.gui.SingleOrderStrategyView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.ParentOrderView"
            name="Single Order Strategy"
            restorable="true">
      </view>
      <view
            class="com.cyanspring.cstw.gui.ChildOrderView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.ChildOrderView"
            name="Child Orders"
            restorable="true">
      </view>
      <view
            class="com.cyanspring.cstw.gui.PropertyView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.PropertyView"
            name="Strategy Properties"
            restorable="true">
      </view>
      <view
            class="com.cyanspring.cstw.gui.MarketDataView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.MarketDataView"
            name="Market Data">
      </view>
      <view
            class="com.cyanspring.cstw.gui.StrategyLogView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.StrategyLogView"
            name="Strategy Log">
      </view>
      <view
            class="com.cyanspring.cstw.gui.ExecutionView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.ExecutionView"
            name="Executions"
            restorable="true">
      </view>
      <view
            class="com.cyanspring.cstw.gui.MultiInstrumentStrategyView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.MultiInstrumentStrategyView"
            name="Multi Instrument Strategy"
            restorable="true">
      </view>
      <view
            class="com.cyanspring.cstw.gui.MarketDataView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.MarketDataView2"
            name="Market Data">
      </view>
      <view
            class="com.cyanspring.cstw.gui.SingleInstrumentStrategyView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.SingleInstrumentStrategyView"
            name="Single Instrument Strategy"
            restorable="true">
      </view>
      <view
            class="com.cyanspring.cstw.gui.SignalView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.SignalView"
            name="Watch list"
            restorable="true">
      </view>
      <view
            class="com.cyanspring.cstw.gui.PositionView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.PositionViewer"
            name="Account"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.cyanspring.cstw.gui.AccountView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.AccountViewer"
            name="Account View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.cyanspring.cstw.gui.AccountSettingView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.AccountSettingViewer"
            name="Account Setting View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.cyanspring.cstw.gui.PositionStatisticView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.PositionStatisticView"
            name="Open Position"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.cyanspring.cstw.gui.AccountStatisticView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.AccountStatisticViewer"
            name="Account Statistic"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.cyanspring.cstw.gui.UserView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.UserViewer"
            name="User View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.cyanspring.cstw.gui.QuoteView"
            icon="icons/Leaves16.png"
            id="com.cyanspring.cstw.gui.QuoteViewer"
            name="Quote"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="CSTW.perspective">
         <view
               closeable="false"
               id="com.cyanspring.cstw.gui.StrategyLogView"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="CSTW.LoadStrategyCommand"
                  label="Load strategy"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="Admin">
                        <equals
                              value="ENABLED">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="Admin">
                        <equals
                              value="ENABLED">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
            </command>
         </menu>
         <menu
               label="Windows">
            <command
                  commandId="CSTW.SingleInstrumentStrategyView"
                  label="Single Instrument Strategy"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.MultiOrderStrategyView"
                  label="Multi Instrument Strategy"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.ParentOrderView"
                  label="Single Order Strategy"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
		               <with variable="RiskManager">
		                  <equals value="ENABLED"></equals>        
		               </with>
		               <with variable="Trader">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.OrderPropertyView"
                  label="Strategy Properties"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.ChildOrderView"
                  label="Child Orders"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.StrategyLogView"
                  label="Strategy Logs"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.ExecutionView"
                  label="Executions"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
		               <with variable="RiskManager">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.AccountView"
                  label="Accounts"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
		               <with variable="RiskManager">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.AccountSettingView"
                  label="Account Settings"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
		               <with variable="RiskManager">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.PositionView"
                  label="Account"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
		               <with variable="RiskManager">
		                  <equals value="ENABLED"></equals>        
		               </with>
		               <with variable="Trader">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>      	  
            </command>
            <command
                  commandId="CSTW.MarketDataView"
                  label="Market Data"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.SignalView"
                  label="Watch list"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.PositionStatisticView"
                  label="Open Position"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>
            </command>
            <command
                  commandId="CSTW.AccountStatisticView"
                  label="Account Statistic"
                  style="push">
                  <visibleWhen checkEnabled="false">
                  	<or>
                  	   <with variable="Admin">
		                  <equals value="ENABLED"></equals>        
		               </with>
                  	</or>
            	  </visibleWhen>       
            </command>
            <command
                     commandId="CSTW.QuoteView"
                     label="Quote"
                     style="push">
                     <visibleWhen checkEnabled="false">
	                  	<or>
	                  	   <with variable="Admin">
			                  <equals value="ENABLED"></equals>        
			               </with>
			               <with variable="RiskManager">
		                  	  <equals value="ENABLED"></equals>        
		               	   </with>
		                   <with variable="Trader">
		                      <equals value="ENABLED"></equals>        
		                   </with>
	                  	</or>
            	  	 </visibleWhen>
            </command>
            <menu
                  label="New">
               <command
                     commandId="CSTW.new.ParentOrderView"
                     label="Single Order Strategy"
                     style="push">
                     <visibleWhen checkEnabled="false">
	                  	<or>
	                  	   <with variable="Admin">
			                  <equals value="ENABLED"></equals>        
			               </with>
	                  	</or>
            	  </visibleWhen>
               </command>
            </menu>
            <menu
                  label="User Management">
               <command
                     commandId="CSTW.usermanagement.UserView"
                     label="Users"
                     style="push">
                     <visibleWhen checkEnabled="false">
	                  	<or>
	                  	   <with variable="Admin">
			                  <equals value="ENABLED"></equals>        
			               </with>
	                  	</or>
            	  	 </visibleWhen>
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cyanspring.cstw.application"
            name="CSTW">
         <property
               name="appName"
               value="CSTW">
         </property>
         <property
               name="windowImages"
               value="icons/appIcon16.png,icons/appIcon32.png,icons/appIcon48.png,icons/appIcon64.png,icons/appIcon128.png">
         </property>

      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.NewSingleOrderStrategyViewCommand"
            description="Create a new single order strategy view"
            id="CSTW.new.ParentOrderView"
            name="Parent Order View">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.PropertyViewCommand"
            description="Show strategy property window"
            id="CSTW.OrderPropertyView"
            name="Properties">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.SingleOrderStrategyViewCommand"
            description="Show primary single order strategy view"
            id="CSTW.ParentOrderView"
            name="Single Order Strategies">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.ChildOrderViewCommand"
            description="Show child orders"
            id="CSTW.ChildOrderView"
            name="Child Orders">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.StrategyLogViewCommand"
            description="Show strategy logs"
            id="CSTW.StrategyLogView"
            name="Strategy Logs">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.MultiInstrumentStrategyViewCommand"
            description="Show multi-instrument strategies"
            id="CSTW.MultiOrderStrategyView"
            name="Multi-instrument Strategies">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.LoadStrategyCommand"
            description="Load a strategy from xml file"
            id="CSTW.LoadStrategyCommand"
            name="Load strategy">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.ExecutionViewCommand"
            description="Show executions"
            id="CSTW.ExecutionView"
            name="Executions">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.MarketDataViewCommand"
            description="Show market depth"
            id="CSTW.MarketDataView"
            name="Market Depth">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.SingleInstrumentStrategyViewCommand"
            description="Show single instrument strategy view"
            id="CSTW.SingleInstrumentStrategyView"
            name="Single Instrument Strategy">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.SignalViewCommand"
            description="Show watch view"
            id="CSTW.SignalView"
            name="Watch view">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.PositionViewCommand"
            description="Account positions"
            id="CSTW.PositionView"
            name="Account Positions">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.AccountViewCommand"
            description="Accounts"
            id="CSTW.AccountView"
            name="Accounts">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.AccountSettingViewCommand"
            description="Account Settings"
            id="CSTW.AccountSettingView"
            name="Account Settings">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.PositionStatisticViewCommand"
            description="Position Statistic"
            id="CSTW.PositionStatisticView"
            name="Open Position">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.AccountStatisticViewCommand"
            description="Account Statistic"
            id="CSTW.AccountStatisticView"
            name="Account Statistic">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.UserViewCommand"
            description="Users"
            id="CSTW.usermanagement.UserView"
            name="Users">
      </command>
      <command
            defaultHandler="com.cyanspring.cstw.gui.command.QuoteViewCommand"
            description="Quote"
            id="CSTW.QuoteView"
            name="Quote">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.cyanspring.cstw.gui.command.auth.AuthProvider">
         <variable
               name="Admin"
               priorityLevel="workbench">
         </variable>
         <variable
               name="RiskManager"
               priorityLevel="workbench">
         </variable>
         <variable
               name="Trader"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
